.home {
    color: #fff;
    padding: 15px 25px;
    background: #383E4C;
}

.about, .contact, .extern, .service {
    color: #fff;
    padding: 15px 25px;
}

.about:hover, .contact:hover, .extern:hover, .service:hover {
    background: #383E4C;
}

.section1 {
    background-image: url("images/autumn.jpg");
    height: 600px;
    padding-top: 25%;
}

.title1 {
    font-size: 70px;
    text-shadow: 2px 2px #000;
    font-weight: 500;
    color: #fff;
}

.text1 {
    font-size: 30px;
    text-shadow: 1px 1px #333;
    color: #fff;
}

.section2 {
    background-image: url("images/mountain.jpg");
    background-attachment: scroll;
    height: 450px;
}

.service1 {
    padding-top: 10%;
}

.title2 {
    color:#fff;
    font-size: 36px;
    text-shadow: 2px 2px #aaa;
}

.latin {
    color:#fff;
    font-size: 18px;
    margin-top: 30px;
}

.read {
    color:#666;
}

.form-title {
    text-shadow: 2px 2px #333;
    color: #fff;
    font-size: 36px;
    margin-bottom: 30px;
}

.form-text{
    background: rgba(242,242,242,0.4) none repeat scroll 0 0;
}

#mail, #subject, #comment, #name {
    background-color: rgba(242,242,242,0.4);
}

.contacts {
    background-image: url("images/road.jpg");
    height: 600px;
    background-position: center;
    background-size: cover;
}

.form-container {
    padding-top: 85px;
}
