.home {
    color: #fff;
    padding: 15px 25px;
    background: #383E4C;
}

.about, .contact, .extern, .service {
    color: #fff;
    padding: 15px 25px;
}

.about:hover, .contact:hover, .extern:hover, .service:hover {
    background: #383E4C;
}